<div class="container">
   <div id="logo" class="navbar-header">
      <a class="navbar-brand" href="http://www.coteauto.com.br/"><img src="http://coteauto.com.br/wp-content/uploads/2016/10/logo.gif" alt=""></a>
   </div>
   <div id="headerWidget">  </div>
   <!-- Navigation -->
   <a id="responsive_nav_open" href="#" class="" style="display: none;"><i class="entypo-menu"></i></a>
   <nav id="nav" class="wt_nav_top collapse navbar-collapse" role="navigation" data-select-name="-- Main Menu --">
      <ul id="menu-menu-1" class="menu nav navbar-nav navbar-right">
         <li id="menu-item-657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home level-1-li firstItem"><a href="http://www.coteauto.com.br/#section_simula" class="level-1-a"><span data-hover="SIMULAÇÃO">SIMULAÇÃO</span></a></li>
         <li id="menu-item-724" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home level-1-li"><a href="http://www.coteauto.com.br/#section_servico" class="level-1-a"><span data-hover="SERVIÇOS">SERVIÇOS</span></a></li>
         <li id="menu-item-725" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home level-1-li"><a href="http://www.coteauto.com.br/#section_vantagens" class="level-1-a"><span data-hover="VANTAGENS">VANTAGENS</span></a></li>
         <li id="menu-item-726" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home level-1-li"><a href="http://www.coteauto.com.br/#section_contato" class="level-1-a"><span data-hover="CONTATO">CONTATO</span></a></li>
         <li id="menu-item-858" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-857 current_page_item level-1-li"><a href="http://www.coteauto.com.br/simule/" class="level-1-a"><span data-hover="SIMULE">SIMULE</span></a></li>
      </ul>
   </nav>
</div>


<div id="wt_breadcrumbs">
   <div id="wt_breadcrumbs_wrapp" data-color="">
      <div class="container">
         <div class="row">
            <div class="col-xs-12">
               <div class="breadcrumbs"><a href="http://www.coteauto.com.br/" rel="home" class="breadcrumbs-begin">Home</a> <span class="breadcrumbs-separator">/</span> Simule</div>
            </div>
         </div>
      </div>
   </div>
</div>